# WARNING! Before adding anything here, make sure things
# don't break catastrophically if the file you're adding
# doesn't exist!

# Refer to fish_config and init.lua for examples of how
# to guard against fish_variables and
# packer_compiled.lua not existing.
Brewfile.lock.json
fish_user_key_bindings.fish
fish_variables
fzf_key_bindings.fish
lazy-lock.json
